
<div>
    <h2>Form Submission Result</h2>
    <p><strong>SI Number:</strong> {{.IssueTemplate.SINumber}}</p>
    <p><strong>SI Link:</strong> {{.IssueTemplate.SILink}}</p>
    <p><strong>BIA Record:</strong> {{.IssueTemplate.BIARecord}}</p>
    <p><strong>Project Overview:</strong> {{.IssueTemplate.ProjectOverview}}</p>
    <p><strong>Platform Name:</strong> {{.IssueTemplate.PlatformName}}</p>
    <p><strong>Lab Name:</strong> {{.IssueTemplate.LabName}}</p>
    <p><strong>GW1 Date:</strong> {{.IssueTemplate.GW1Date}}</p>
    <p><strong>Solution Architect Name:</strong> {{.IssueTemplate.SolutionArchitectName}}</p>
    <p><strong>Project Name:</strong> {{.IssueTemplate.ProjectName}}</p>
    <p><strong>Data Classification:</strong> {{.IssueTemplate.DataClassification}}</p>
    <p><strong>Multiple Release Over Year:</strong> {{.TriageInput.MultipleReleaseOveryear}}</p>
    <p><strong>Integrity Rating:</strong> {{.TriageInput.IntegrityRating}}</p>
    <p><strong>New Infrastructure:</strong> {{.TriageInput.NewInfrastructure}}</p>
    <p><strong>New Connectivity:</strong> {{.TriageInput.NewConnectivity}}</p>
    <p><strong>Regulatory Requirement:</strong> {{.TriageInput.RegulatoryRequirement}}</p>
    <p><strong>User Impact:</strong> {{.TriageInput.UserImpact}}</p>
    <p><strong>Pattern Used:</strong> {{.TriageInput.PatternUsed}}</p>
    <p><strong>Security Impact rating: </strong>{{.SirRating}}</p>
    <p><strong>Security Engineering Jira: </strong></p>
</div>